<p id="notice"><%= notice %></p>

<p>
  <b>Zip code:</b>
  <%= @consumer.zip_code %>
</p>

<p>
  <b>User:</b>
  <%= @consumer.user_id %>
</p>

<p>
  <b>Loyalty score:</b>
  <%= @consumer.loyalty_score %>
</p>


<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
