<%= form_for(@consumer_event_type) do |f| %>
  <% if @consumer_event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumer_event_type.errors.count, "error") %> prohibited this consumer_event_type from being saved:</h2>

      <ul>
      <% @consumer_event_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consumer_id %><br />
    <%= f.text_field :consumer_id %>
  </div>
  <div class="field">
    <%= f.label :event_type_id %><br />
    <%= f.text_field :event_type_id %>
  </div>
  <div class="field">
    <%= f.label :interest_level %><br />
    <%= f.text_field :interest_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
